@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.playwrite-au-sa-font {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Tambahkan di global CSS */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1c1917;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b28752;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b28752;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b28752 #1c1917;
}

.text-gradient {
  background: linear-gradient(90deg, rgb(218, 191, 118), rgb(236, 220, 171));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
